@model IEnumerable<LibraryWebApp.Models.Reservation>

@{
    var modelTemplate = new Reservation();
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Reservations List</h2>
        </div>
    </div>


    <br /><br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:90%" align="center">
            <thead>
                <tr>
                    <th>
                        <label asp-for="@modelTemplate.Id"></label>
                    </th>
                    <th>
                        <label asp-for="@modelTemplate.DateOfReservation"></label>
                    </th>
                    <th>
                        <label asp-for="@modelTemplate.PlannedDateOfReturn"></label>
                    </th>
                    <th>
                        <label asp-for="@modelTemplate.ReservationBook"></label>
                    </th>
                    <th>
                        <label asp-for="@modelTemplate.DateOfReturn"></label>
                    </th>
                    <th>
                        <label asp-for="@modelTemplate.Status"></label>
                    </th>
                    <th>
                        <label asp-for="@modelTemplate.Fee"></label>
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Model)
                {
                <tr>
                    <td width="3%">@reservation.Id</td>
                    <td width="10%">@reservation.DateOfReservation.ToString("MM/dd/yyyy")</td>
                    <td width="10%">@reservation.PlannedDateOfReturn.ToString("MM/dd/yyyy")</td>
                    <td width="50%">
                        @foreach (var book in reservation.ReservationBook)
                        {
                            <q>@book.Book.Title</q><span>,&nbsp;</span>
                        }
                    </td>
                    <td>
                        @if (reservation.Status == ReservationStatus.Cancelled)
                        {
                            <span>Cancelled</span>
                        }
                        else if (reservation.DateOfReturn < reservation.DateOfReservation)
                        {
                            <span>Not returned</span>
                        }
                        else
                        {
                            <span>@reservation.DateOfReturn.ToString("MM/dd/yyyy")</span>
                        }
                    </td>
                    <td width="10%">@string.Concat(reservation.Status.ToString().Select(x => Char.IsUpper(x) ? " " + x : x.ToString())).TrimStart(' ')</td>
                    @if (reservation.Fee.Count() == 0)
                    {
                        <td width="5%">
                            No Fees
                        </td>
                    }
                    else
                    {
                        <td width="5%">
                            <a class="btn btn-primary mx-2" asp-controller="Fee" asp-route-Id="@reservation.Id" asp-action="Index">
                                <i class="fas fa-file-alt"></i>
                            </a>
                        </td>
                    }
                    @if ((reservation.Status == ReservationStatus.ReadyToTake || reservation.Status == ReservationStatus.InProgress) && reservation.Fee.Count == 0)
                    {
                        <td class="text-center">
                            <div class=" btn-group" role="group">
                                <a class="btn btn-danger mx-2" asp-route-Id="@reservation.Id" asp-action="Cancel">
                                    Cancel
                                </a>
                            </div>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No reservation exists.</p>
    }
</div>