@model IEnumerable<LibraryWebApp.Models.Client>

@{
    var modelTemplate = new Reservation();
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Reservations List</h2>
        </div>
    </div>


    <br /><br />

    @if (Model.Count() > 0)
    {
        @foreach (var client in Model)
        {
            <table class="table table-bordered table-striped" style="width:100%" align="center">
                <thead>
                    <tr>
                        <th class="text-center" colspan="7">@client.Id @client.FullName</th>
                    </tr>
                    <tr>
                        <th>
                            <label asp-for="@modelTemplate.Id"></label>
                        </th>
                        <th>
                            <label asp-for="@modelTemplate.DateOfReservation"></label>
                        </th>
                        <th>
                            <label asp-for="@modelTemplate.PlannedDateOfReturn"></label>
                        </th>
                        <th>
                            <label asp-for="@modelTemplate.ReservationBook"></label>
                        </th>
                        <th>
                            <label asp-for="@modelTemplate.DateOfReturn"></label>
                        </th>
                        <th>
                            <label asp-for="@modelTemplate.Status"></label>
                        </th>
                        <th>
                            <label asp-for="@modelTemplate.Fee"></label>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var reservation in client.Reservation)
                    {
                    <tr>
                        <td width="3%">@reservation.Id</td>
                        <td width="20%">@reservation.DateOfReservation.ToString("MM/dd/yyyy")</td>
                        <td width="20%">@reservation.PlannedDateOfReturn.ToString("MM/dd/yyyy")</td>
                        <td width="60%">
                            @foreach (var book in reservation.ReservationBook)
                            {
                                <q>@book.Book.Title</q><span>,&nbsp;</span>
                            }
                        </td>
                        <td width="20%">
                            @if (reservation.Status == ReservationStatus.Cancelled)
                            {
                            <span>Cancelled</span>
                            }
                            else if(reservation.DateOfReturn < reservation.DateOfReservation)
                            {
                        <a class="btn btn-primary mx-2" asp-route-Id="@reservation.Id" asp-action="ReturnBook">
                            Return
                        </a>
                            }
                            else
                            {
                                <span>@reservation.DateOfReturn.ToString("MM/dd/yyyy")</span>
                            }
                        </td>
                        <td width="20%">
                            @if (reservation.Status == ReservationStatus.Cancelled)
                            {
                                <span>Cancelled</span>
                            }
                            else if (reservation.Status == ReservationStatus.Returned)
                            {
                                <span>Returned</span>
                            }
                            else
                            {
                                <form asp-action="ReservationStatus" method="POST">
                                    <select asp-for="@reservation.Status" onchange="this.form.submit()">
                                        <option value="InProgress">In Progress</option>
                                        <option value="Taken">Taken</option>
                                        <option value="ReadyToTake">Ready to take</option>
                                        <option value="Cancelled">Cancel</option>
                                    </select>
                                    <input asp-for="@reservation.Id" hidden value="@reservation.Id" />
                                </form>
                            }
                        </td>
                        @if (reservation.Fee.Count() > 0)
                        {
                            <td width="5%">
                                <a class="btn btn-primary mx-2" asp-controller="Fee" asp-route-Id="@reservation.Id" asp-action="Index">
                                    <i class="fas fa-file-alt"></i>
                                </a>
                            </td>
                        }
                        else
                        {
                            <td width="5%">
                                <a class="btn btn-primary mx-2" asp-controller="Fee" asp-route-Id="@reservation.Id" asp-action="Create">
                                    <i class="fas fa-plus-square"></i>
                                </a>
                            </td>
                        }
                        <td width="5%">
                            <div class="w-75 btn-group" role="group">
                                <a class="btn btn-danger mx-2" asp-route-Id="@reservation.Id" asp-action="Delete">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <br>
        }
    }
    else
    {
        <p>No clients with reservations.</p>
    }
</div>