@model LibraryWebApp.Models.ViewModels.DetailsVM
@{
    var amountOfAvailableBooks = Model.Book.Amount - Model.Reservations.Where(x => x.ReservationBook.Any(x => x.IdBook == Model.Book.Id) && x.DateOfReturn < x.DateOfReservation).Count();
    var user = User.Identity.Name;
}
<div class="">
    <form method="post">
        <input asp-for="@Model.Book.Id" hidden />
        <div class="container backgroundWhite pt-4">
            <div class="card" style="border:1px solid #000000; ">
                <div class="card-header bg-dark text-light ml-0 row container" style="border-radius: 0px;">
                    <div class="col-12 col-md-6">
                        <h1 class="text-white">@Model.Book.Title</h1>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <h1 class="text-warning">Available: @amountOfAvailableBooks/@Model.Book.Amount</h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-4 p-1 text-center">
                                <img src="@WC.ImagePath@Model.Book.Image" width="100%" class="rounded" />
                                @if (User.IsInRole(WC.CustomerRole))
                                {
                                <hr>
                                <div onmouseout="CRateSelected()">
                                    <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span>
                                    <span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span>
                                    <span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span>
                                    <span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span>
                                    <span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                                </div>
                                <input type="hidden" name="Rating" id="Rating" value="@Model.LoggedUserRating"/>
                                }
                            </div>
                            <div class="col-10 col-lg-8">
                                <div class="row pl-3">

                                    <div class="col-12">
                                        @foreach (var i in Model.Book.BookType)
                                        {
                                            <span class="badge p-3 border" style="background-color: lavenderblush; margin-top: 3px">@i.BookType.Name</span>
                                        }
                                        @foreach (var i in Model.Book.BookAuthor)
                                        {
                                            <span class="badge p-3 border" style="background-color:lavenderblush;margin-top:3px">@i.Author.Name @i.Author.Surname</span>
                                        }
                                        </br>

                                        <p class="text-secondary">@Model.Book.Description</p>
                                        <label asp-for="@Model.Book.ReleaseDate"></label><h> :&nbsp;@Model.Book.ReleaseDate.ToString("MM/dd/yyyy")</h>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-dark">
                    <div class="row justify-content-md-center">
                        <div class="col-12 col-md-6 pb-1">
                            <a asp-action="Index" class="btn btn-success btn-square form-control btn-lg" style="height:50px;">Back to List</a>
                        </div>
                        @if (!(User.IsInRole(WC.AdminRole)) && !(User.IsInRole(WC.WorkerRole)))
                        {@if (!(amountOfAvailableBooks == 0))
                        {
                            @if (!(User.IsInRole(WC.CustomerRole) && Model.Reservations.Where(x => x.ReservationBook.Any(x => x.IdBook == Model.Book.Id) && x.DateOfReturn < x.DateOfReservation).Count() > 0))
                            {
                                <div class="col-12 col-md-6 ">
                                    @if (Model.ExistsInCart)
                                    {
                                        <a asp-action="RemoveFromCart" asp-route-id="@Model.Book.Id" class="btn btn-warning btn-square form-control btn-lg" style="height:50px;">Remove from Cart</a>
                                    }
                                    else
                                    {
                                        <button type="submit" asp-route-id="@Model.Book.Id" class="btn btn-info form-control btn-lg" style="height:50px;">Add to Cart</button>
                                    }
                                </div>
                            }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<form method="post">

    <input asp-for="BookComment.IdBook" value="@Model.Book.Id" hidden />
    <div class="backgroundWhiteBorder">
        <div class="container pt-4">
            <div class="pt-4">
                @if (User.IsInRole(WC.CustomerRole))
                {
                    <div class="card mt-4">
                        <div class="card-header bg-dark text-light ml-0 row container">
                            <div class="col-6">
                                Add Comment
                            </div>
                        </div>
                        <div class="card-body">
                            <div class=" d-none d-lg-block">
                                <div class="row" style="color:#821f3d">
                                    <div class="col-lg-2">
                                    </div>
                                </div>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="float-sm">
                                <textarea asp-for="@Model.BookComment.Content" rows="4" cols="140">
                        </textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="col-6 col-md-3 pb-3 offset-md-9">
                                <input type="submit" asp-action="AddComment" class="btn btn-success form-control " value="Add Comment" />
                            </div>

                        </div>

                    </div>
                    <br />
                    <br />
                }
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-6">
                        <i class="fas fa-comments"></i>
                        Comments
                    </div>
                </div>
                @if (Model.Book.BookComment.Count() > 0)
                {
                    @foreach (var k in Model.Book.BookComment)
                    {
                        <hr />
                        <div class="row h-100">
                            <div class="col-4 col-md-2 text-center py-2 border-right">

                                @k.Client.FullName<br/>
                                @k.DateOfCommentCreation
                            </div>
                            <div class="col-8 col-lg-7">
                                <div style="font-size:11px;">
                                    @k.Content
                                </div>
                            </div>
                            <div class="col-3  text-center">
                                @if (k.Client.Email == user || User.IsInRole(WC.AdminRole) || User.IsInRole(WC.WorkerRole))
                                {
                                    <a asp-action="Delete" asp-route-id="@k.Id" class="btn btn-outline-danger">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                }
                            </div>
                        </div>
                        <hr />
                    }
                }
            else
            {
            <br/>
            <div class="text-center">
                No Comments
            </div>
            }
            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }



<script>
    document.body.onload = function () {
        var setRating = $("#Rating").val();
        for (var i = 1; i <= setRating; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }

    function CRate(r) {
        $("#Rating").val(r);
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
            }
            for (var i = r + 1; i <= 5; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
            $.ajax({
                type:"POST",
                url: "/Home/RateBook",
                data: { "id": @Model.Book.Id ,"rate": r},
            });
    }

    function CRateOver(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }
    function CRateOut(r) {
        for (var i = 1; i <= r; i++) {
            $("#Rate" + i).attr('class', 'starFade');
        }
    }
    function CRateSelected() {
        var setRating = $("#Rating").val();
        for (var i = 1; i <= setRating; i++) {
            $("#Rate" + i).attr('class', 'starGlow');
        }
    }
</script>
}