@model LibraryWebApp.Models.ViewModels.HomeVM
@{
    var filterTypes = "";
    foreach (BookBookType bookBookType in Model.Book.BookType)
    {
        filterTypes += bookBookType.BookType.Name;
        filterTypes += " ";
    }
    var shortDescription = "";
    if (Model.Book.Description.Length < 200)
    {
        shortDescription = @Model.Book.Description.Substring(0, Model.Book.Description.Count()).Trim();
    }
    else
    {
        shortDescription = @Model.Book.Description.Substring(0, 200).Trim();
    }
    var availableBooks = Model.Book.Amount - Model.Reservations.Where(x=>x.DateOfReturn < x.DateOfReservation).Count();
    var averageRating = default(double);
    if (Model.Book.BookRating.Count() > 0)
    {
        foreach (var bookRating in Model.Book.BookRating)
        {
            averageRating += bookRating.Rate;
        }
        averageRating = averageRating / Model.Book.BookRating.Count();
    }
}

<div class="col-lg-4 col-md-6 pb-4 filter @filterTypes">
    <!-- Card-->
    <div class="card bg-white rounded shadow-sm" style="border:2px solid #222">
        <div class="card-body px-3 pt-3 pb-1 row">
            <div class="col-7"><label class="float-left font-weight-bold">@Model.Book.Title</label></div>
            <div class="col-5"><label class="float-right"><span class="text-info h5">@availableBooks</span> / @Model.Book.Amount</label> </div>
        </div>
        <img class="card-img-top img-fluid d-block mx-auto mb-3" style="max-height:300px;" src="@WC.ImagePath@Model.Book.Image" alt="Card image cap">
        <div class="card-body p-1 px-3 row">
            <div class="col-6">
                @foreach (var type in Model.Book.BookType)
                {
                    <span class="badge p-2 border w-100" style="background-color:lavenderblush;margin-top:5px">@type.BookType.Name</span>
                }
            </div>
            <div class="col-6 border-0">
                @foreach (var author in Model.Book.BookAuthor)
                {
                    <span class="badge p-2 border w-100" style="background-color: aliceblue;margin-top:5px">@author.Author.Name @author.Author.Surname</span>
                }
            </div>
            <div class="col-6 pt-2" style="font-size:13px; text-align:justify">
                <label class="font-weight-bold" asp-for="@Model.Book.ReleaseDate"></label>
                <p> @Model.Book.ReleaseDate.ToString("MM/dd/yyyy")</p>
            </div>
            <div class="col-6 pt-2" style="font-size:13px; text-align:justify">
                <label class="font-weight-bold" asp-for="@Model.Book.BookRating"></label>
                @if (averageRating == 0)
                {
                    <p>No Ratings</p>
                }
                else
                {
                    <p> @averageRating/5 (@Model.Book.BookRating.Count() Rates)</p>
                }
            </div>
            <div class="col-12 pt-2" style="font-size:13px; text-align:justify">
                <label class="font-weight-bold" asp-for="@Model.Book.Description"></label>
                <p> @shortDescription...</p>
            </div>
            <div class="col-12 p-1">
                <a asp-action="Details" asp-route-id="@Model.Book.Id" class="btn btn-dark form-control btn-sm p-2" style="height:40px">View Details</a>
            </div>
        </div>
    </div>
</div>
